@{
    ViewData["Title"] = "Home Page";
}

@model Dictionary<Codecool.CodecoolShop.Models.Product, int>
<a href="@Url.Action("UserDataDetails","Order") type="button" class="btn btn-primary" style="float: bottom">Add To CartDao </a>

@foreach (var element in Model)
{
    <h2>@element.Key.Name</h2>
    <h2>@element.Value</h2>
}
